body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100%;
    
    
}



.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    height: 5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo img {
    width: 50px;
    height: auto;
}

.right-side a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.right-side a:hover {
    text-decoration: underline;
}


.content {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.task-description p::before {
    content: "\2713"; /* Юникод символ "галочка" */
    margin-right: 10px; /* Расстояние между галочкой и текстом */
}
.task {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.task h2 {
    font-size: 18px;
}

.task p {
    font-size: 16px;
}

.alert {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    padding: 10px;
}

.todo-form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block; 
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


form button {
    display: block; 
    width: 105%;
    padding: 10px;
    background-color: #F05340;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.alert.alert-success {
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    color: #3c763d;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.task-description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
}

